<div data-day="1" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="2" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="3" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="4" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="5" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="6" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="7" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="8" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="9" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="10" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="11" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="12" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="13" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="14" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="15" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="16" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="17" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="18" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="19" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="20" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="21" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="22" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="23" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="24" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="25" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="26" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="27" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="28" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="29" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="30" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>
<div data-day="31" class="day d-none mb-4">
    <div class="col-12"><h5>Dag: <span id="date"></span></h5></div>
</div>