<!DOCTYPE html>
<html>

<head>
    <title>Time Reporter</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="navigation-wrap">
        <nav>
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/time-report">Tidsrapportera</a></li>
            </ul>
        </nav>
    </div>
    {{{body}}}
    <script type="text/javascript" src="/script/vendor/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/script/vendor/handlebars-v4.0.10.js"></script>
    <script type="text/javascript" src="/script/modules/script.js"></script>
</body>

</html>