<div class="login-wrap pl-3">
    <div class="row h-100">
        <div class="col-5 h-100">
            <div class="form-wrap mt-5">
                <div class="logo d-flex">
                    <img src="/images/arboga_vapen.png" alt="">
                </div>
                <div class="login-modal">
                    <form action="">
                        <div class="form-group">
                            <label for="">Användarnamn</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="">Lösenord</label>
                            <input type="text" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-block btn-primary mt-4">Logga in</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="login-background col h-100"></div>
    </div>
</div>