<h2>Tidsrapportera</h2>
<div class="navigation">
    <nav>
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/time-report">Tidsrapportera</a></li>
        </ul>
    </nav>
</div>