<div class="main-wrap">
    <div class="col-12">
    	<div class="row">
    		<h1>Tidsbank</h1>
    	</div>
    </div>
    <div class="time-bank">
        <form class="get-monthly-time">
            <select class="month-select">
              {{> months}}
            </select>
            <input type="submit" name="">
        </form>
        <div class="remove-time-wrap">
            <input type="button" name="" value="Ta bort månad" class="remove-time">
        </div>
    	<div class="days">
    		<div class="row">
    			{{> days}}
    		</div>
        </div>
        <div class="data-holder">
        </div>
    </div>
</div>