body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Sans-Serif, Arial;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, {
    margin-top: 0;
}

.main-wrap {
    width: 100%;
    padding: 15px 15px 15px 325px;
    position: relative;
}

.divider {
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
}

.unstyled-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}