.login-wrap {
    height: 100vh;

    .form-wrap {
        max-width: 60%;
        margin: 0 auto;
    }

    .logo img {
        max-width: 120px;
        margin: auto;
    }

    .login-background {
        background: #e3e3e3;
    }
}
