.time-report {
    .time-form {
        height: 400px;
        max-width: 1200px;
        h4 {
            margin-top: 20px;
        }
        select {
            margin: 0 10px;
        }
        button {
            display: block;
            margin-top: 40px;
        }
        .comment-wrap {
            textarea {
                height: 30px;
                width: 70%;
                resize: none;
            }
        }
    }
    .time {
        margin-bottom: 15px;
        .remove-time {
            border: 1px solid black;
            border-radius: 50%;
            padding: 6px 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
